/* 
 * main.css 
 * Created: 8/2/18
 * */
b {
  font-weight: 700;
}
p {
  color: #fff;
  font-size: 0.9rem;
}

#page-wrapper {
  clear: both;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
  zoom: 1;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Scaffolding */

.row {
  clear: both;
  display: block;
  margin: 0 auto;
  position: relative;
  width: auto;
  zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.row.container-fluid {
  width: calc(200%/3);
}

.two-col {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding-top: 6rem;
}

.img-left {
  width: 60%;
  height: auto;
}
.img-left img {
  width: 100%;
}

/* End Scaffolding */

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #606468;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

/* layout/base.css */

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #606468;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

h2 {
  color: #6d7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

.form-container {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 0;
}
.main-title {
  font-size: 3rem;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  padding-top: 3rem;
}
/* Uploadcare Customization */
.uploadcare--widget {
  display: flex;
  width: 100%;
}
.uploadcare--widget__button_type_open {
  background: #3b4148;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 0.75rem;
  text-align: left;
}

.uploadcare--widget__button_type_open:focus,
.uploadcare--widget__button_type_open:hover {
  background: #434a52;
}

#ui-datepicker-div {
  z-index: 20;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  padding: 1rem;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  cursor: pointer;
  background: #3b4148;
}
.select {
  position: relative;
  display: block;
  height: 53px;
  line-height: 3;
  background: #3b4148;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 0.875rem;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  background: #363b41;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
input::placeholder {
  color: #fff;
}
input[type="submit"] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.survey {
  color: #eee;
}
.survey input {
  width: 100%;
  padding-left: 1rem;
  background: #3b4148;
  font-size: 0.8rem;
}
.survey input:hover {
  background: #434a52;
}

.survey .form-field label,
.survey input[type="text"],
.survey input[type="password"],
.survey input[type="date"],
.survey input[type="number"],
.survey input[type="email"],
.survey input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}

.survey .form-field label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.survey input[type="date"],
.survey input[type="number"],
.survey input[type="email"],
.survey input[type="password"],
.survey input[type="text"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 0.8rem;
}

.survey input[type="date"]:focus,
.survey input[type="date"]:hover,
.survey input[type="number"]:focus,
.survey input[type="number"]:hover,
.survey input[type="email"]:focus,
.survey input[type="email"]:hover,
.survey input[type="password"]:focus,
.survey input[type="password"]:hover,
.survey input[type="text"]:focus,
.survey input[type="text"]:hover {
  background-color: #434a52;
}

.survey input[type="submit"] {
  background-color: #ff2e65;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.survey input[type="submit"]:focus,
.survey input[type="submit"]:hover {
  background-color: #d44179;
}

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  border-color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background: none;
  cursor: pointer;
}

#recojo-u-input {
  display: none;
}

.form-field-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  margin-top: 1rem;
  background: #3b4148;
  margin: 0.875rem;
}
.form-field-check h4 {
  padding: 1rem;
  font-size: 1.2rem;
  background: #363b41;
}
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  margin: 0.875rem;
  border-bottom: none;
}
ul li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

ul li input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 0.8rem;
  z-index: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  padding: 1.1rem 3.5rem;
  color: #fff;
}

ul li:hover label {
  color: #ffffff;
}

ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 15px;
  left: 20px;
  z-index: 0;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li:hover .check {
  border: 5px solid #ffffff;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 8px;
  width: 8px;
  left: 3.2px;
  top: 3.2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #d44179;
}

input[type="radio"]:checked ~ .check::before {
  background: #d44179;
}

input[type="radio"]:checked ~ label {
  color: #d44179;
}

/* Responsive */

@media only screen and (max-width: 1024px) {
  #page-wrapper {
    width: 100%;
    height: auto;
  }
  .row.container-fluid {
    width: 70%;
    margin: auto;
  }
  .two-col {
    flex-flow: column wrap;
    padding-top: 1rem;
  }
  .img-left {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .form-field,
  .select {
    height: 5rem;
  }
  input {
    font-size: 1.5rem;
  }
  select,
  .form-field-check h4 {
    font-size: 1.5rem;
  }
  .form-field-check label {
    font-size: 2rem;
  }
  ul li .check {
    top: 28px;
  }
}

@media only screen and (max-width: 768px) {
  #page-wrapper {
    width: 100%;
    height: auto;
  }
  .row.container-fluid {
    width: 90%;
    margin: auto;
  }
  .two-col {
    flex-flow: column wrap;
    padding-top: 1rem;
  }
  .img-left {
    width: 100%;
  }
  .form-container {
    width: 80%;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  #page-wrapper {
    width: 100%;
    height: auto;
  }
  .row.container-fluid {
    width: 90%;
    margin: auto;
  }
  .two-col {
    flex-flow: column wrap;
    padding-top: 1rem;
  }
  .img-left {
    width: 100%;
  }
  .form-container {
    width: 100%;
    padding-top: 1rem;
  }
  .form-field-check label {
    font-size: 1.2rem;
  }
  ul li .check {
    top: 16px;
  }
}
